@{
    ViewData["Title"] = "Index";
}

<h2>欢迎使用博客管理平台，请点击导航栏选择功能</h2>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".nav-index").addClass("selected");
        });
    </script>
}




