<div class="pc-nav float-left d-none d-md-block">
    <nav>
        <ul class="nav-stacked">
            <li class="nav-index"><a asp-controller="Admin" asp-action="Index">首页</a></li>
            <li class="nav-article"><a asp-controller="Admin" asp-action="ArticleList">文章管理</a></li>
            <li class="nav-category"><a asp-controller="Admin" asp-action="CategoryList">分类管理</a></li>
            <li class="nav-user"><a asp-controller="Admin" asp-action="UserList">用户管理</a></li>
        </ul>
    </nav>
</div>
<div class="mobile-nav d-md-none collapse">
    <nav>
        <ul class="nav-stacked">
            <li><a asp-controller="Admin" asp-action="Index">首页</a></li>
            <li><a asp-controller="Admin" asp-action="ArticleList">文章管理</a></li>
            <li><a asp-controller="Admin" asp-action="CategoryList">分类管理</a></li>
            <li><a asp-controller="Admin" asp-action="UserList">用户管理</a></li>
        </ul>
    </nav>
</div>