@{
    ViewData["Title"] = "Index";
}

@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/index.css" />
        <link rel="stylesheet" href="~/css/right.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/index.min.css" />
        <link rel="stylesheet" href="~/css/right.min.css" />
    </environment>
}

<header>
    <a asp-controller="Home" asp-action="Index" class="text-center title"><h1>Blog</h1></a>
</header>
<div class="content row">
    <div class="main col-md-8">
        <div class="articles">
            <div class="article">
                <div class="article-title">
                    <h3>文章标题</h3>
                    <p class="text-secondary">发布于2000年1月1日&nbsp;<a>编辑</a></p>
                </div>
                <div class="article-content">
                    <p>文章内容</p>
                </div>
            </div>
            <div class="article">
                <div class="article-title">
                    <h3>文章标题</h3>
                    <p class="text-secondary">发布于2000年1月1日&nbsp;<a>编辑</a></p>
                </div>
                <div class="article-content">
                    <p>文章内容</p>
                </div>
            </div>
        </div>
        <pager></pager>
    </div>
    @Html.Partial("Right")
</div>






