<div class="col-md-3 offset-md-1">
    <div class="line d-md-none">
    </div>
    <div class="search-box">
        <form asp-controller="Home" asp-action="Index" method="get">
            <input class="form-control" name="Keyword" placeholder="搜索..." />
        </form>
    </div>
    <div class="category-box">
        <h5>分类目录</h5>
        <div class="categories">
            @foreach (Category category in ViewBag.Categories)
            {
                <div class="category">
                    <a asp-controller="Home" asp-action="Index" asp-route-CategoryID="@category.CategoryID" class="text-dark">@category.CategoryName</a>
                </div>
            }
        </div>
    </div>
    <div class="function-box">
        <h5>功能</h5>
        <div class="functions">
            @if (ViewBag.User == null)
            {
                <div class="function">
                    <a asp-controller="Login" asp-action="Index" asp-route-articleID="@((Model as Article)?.ArticleID)" class="text-dark">登录</a>
                </div>
                <div class="function">
                    <a asp-controller="Register" asp-action="Index" class="text-dark">注册</a>
                </div>
            }
            else
            {
                @if (ViewBag.User.UserRole == UserRole.Admin)
                {
                    <div class="function">
                        <a asp-controller="Admin" asp-action="Index" class="text-dark">管理平台</a>
                    </div>
                }
                <div class="function">
                    <a asp-controller="Home" asp-action="Logout" class="text-dark">注销</a>
                </div>
            }
        </div>
    </div>
</div>