@{
    ViewData["Title"] = "Index";
}

@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/article.css" />
        <link rel="stylesheet" href="~/css/right.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/article.min.css" />
        <link rel="stylesheet" href="~/css/right.min.css" />
    </environment>
}

<header>
    <h1 class="text-center title"><a asp-controller="Home" asp-action="Index">Blog</a></h1>
</header>
<div class="content row">
    <div class="main col-md-8">
        <div class="article">
            <div class="article-title">
                <h3>文章标题</h3>
                <p class="text-secondary">发布于2000年1月1日&nbsp;<a>编辑</a></p>
            </div>
            <div class="article-content">
                <p>文章内容啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
            </div>
        </div>
        <div class="comment-box">
            <h5>评论</h5>
            <div class="comments">
                <div class="comment">
                    <p class="comment-username text-secondary">评论者</p>
                    <p class="comment-time text-secondary">2000年1月1日</p>
                    <div class="comment-content">
                        <p>评论内容啊啊啊啊啊啊啊啊啊啊阿啊啊啊啊啊阿啊啊啊啊</p>
                    </div>
                </div>
                <div class="comment">
                    <p class="comment-username text-secondary">评论者</p>
                    <p class="comment-time text-secondary">2000年1月1日</p>
                    <div class="comment-content">
                        <p>评论内容啊啊啊啊啊啊啊啊啊啊阿啊啊啊啊啊阿啊啊啊啊</p>
                    </div>
                </div>
                <div class="comment">
                    <p class="comment-username text-secondary">评论者</p>
                    <p class="comment-time text-secondary">2000年1月1日</p>
                    <div class="comment-content">
                        <p>评论内容啊啊啊啊啊啊啊啊啊啊阿啊啊啊啊啊阿啊啊啊啊</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="newcomment-box">
            <h5>发表评论</h5>
            @if (ViewBag.User == null)
            {
                <p>请先<a asp-controller="Login" asp-action="Index">登录</a></p>
            }
            else
            {
                <div class="form-group">
                    <textarea class="form-control"></textarea>
                </div>
                <input class="btn btn-outline-secondary" type="submit" value="发表" />
            }


        </div>
    </div>
    @Html.Partial("Right")
</div>






