.title {
    padding-bottom: 20px;
    border-bottom: 3px solid #eee;
}

.content {
    margin: 20px auto;
}

.article {
    margin: 20px auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

    .article:last-child {
        border-bottom: none;
    }

.article-content {
    margin-top: 20px;
}


.search-box {
    margin: 20px auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.category-box {
    margin: 20px auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.category {
    margin: 5px;
}

    .category:first-child {
        margin-top: 10px;
    }

    .category:last-child {
        margin-bottom: 0;
    }

.function-box {
    margin: 20px auto;
}

.function {
    margin: 5px;
}

    .function:first-child {
        margin-top: 10px;
    }

    .function:last-child {
        margin-bottom: 0;
    }
