body {
    background-color: #eee;
    font-size: 15px;
    color: #666;
}

a {
    text-decoration: none;
    color: #666;
}

    a:focus {
        color: #666;
        text-decoration: none;
    }

    a:hover {
        color: #666;
        text-decoration: none;
    }

.page {
    margin: 50px auto;
    padding: 50px 100px;
    background-color: #fff;
    width: 100%;
    max-width: 1000px;
}

.footer {
    padding-top: 20px;
    border-top: 3px solid #eee;
}
